{% extends 'base.html' %}
{% load static %}

{% block title %}Ajankohtaista — Ravintola Onnin Päivä{% endblock %}

{% block content %}

<br>
<section class="container">

    <div class="section-head" style="justify-content:center">
        <h2 style="font-size:42px">
            Ajankohtaista
        </h2>
    </div>

    <style>
      .campkein-img{
          object-position: 20% 20%;
      }
    </style>

    <div class="cards-3">

      <article class="ncard reveal">
          <div class="thumb">
              <img class="campkein-img" src="{% static 'images/Campkein.jpg' %}" alt="">
          </div>

          <div class="body">
              <h4>Livemusiikkia avajaispäivänä terassilla</h4>
              <p>Campkein esiintyy 13.6.2026 klo 19.00</p>
              <div class="meta">Kesäkuu 3, 2026</div>
          </div>
      </article>

      <article class="ncard reveal">
          <div class="thumb">
              <img src="{% static 'images/eemeli.jpg' %}" alt="">
          </div>

          <div class="body">
              <h4>Taidenäyttely avajaispäivänä</h4>
              <p>Eemeli Ronkonen 13.6.2026 klo 17.00</p>
              <div class="meta">Kesäkuu 3, 2026</div>
          </div>
      </article>

        <article class="ncard reveal">
            <div class="thumb">
                <img src="{% static 'images/onninpaiva.jpg' %}" alt="">
            </div>

            <div class="body">
                <h4>Ravintola Onnin Päivä avajaiset</h4>
                <p>Avajaisten päivä on nyt lyöty lukkoon ja ne järjestetään Lauantaina 13.6.2026</p>
                <div class="meta">Kesäkuu 3, 2026</div>
            </div>
        </article>

        <article class="ncard reveal">
            <div class="thumb">
                <img src="{% static 'images/terassi.jpg' %}" alt="">
            </div>

            <div class="body">
                <h4>Terassin kunnostus</h4>
                <p>Terassin maalaus on parhaillaan käynnissä!</p>
                <div class="meta">Kesäkuu 2, 2026</div>
            </div>
        </article>

        <article class="ncard reveal">
            <div class="thumb">
                <img src="{% static 'images/venue-signage.png' %}" alt="">
            </div>

            <div class="body">
                <h4>Suunnitelmat tehty</h4>
                <p>Olemme saaneet valmiiksi suunnitelmat, jonka pohjalta lähdemme uudistamaan ravintolan</p>
                <div class="meta">Toukokuu 20, 2026</div>
            </div>
        </article>


    </div>

</section>
<br>
{% endblock %}
